{{#inicio}}
  <h5>Seus cursos</h5>
  {{^cursos_docente}}
    <p>Nenhum curso foi encontrado.</p>
  {{/cursos_docente}}

  {{#cursos_docente}}
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">({{ codofeatvceu }}) {{ nome_curso_apolo }}</h6>
      
      {{{ formulario }}}
    </div>  
  </div>
  {{/cursos_docente}}
{{/inicio}}
{{^inicio}}
  <h5>Alunos matriculados</h5>

{{/inicio}}